.center {
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-left: -50px;
}

.top {
    position: relative;
    top: 0;
    left:50%;
    margin-left: -120px;
}

body {
    width: 242px;
    /*height: 120px;*/
    background-color: #292A2D;
    color: white;
    font-family: Calibri;
}

#buttons {
    height: 45px;
}