.center {
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-left: -50px;
}

.top {
    position: relative;
    top: 0;
    left:50%;
    margin-left: -50px;
}

body {
    width: 242px;
    height: 800px;/*120*/
}